DirectoryIndex dist/hostinger/index.html index.html

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^_next/(.*)$ dist/hostinger/_next/$1 [L]

  RewriteCond %{DOCUMENT_ROOT}/dist/hostinger%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}/dist/hostinger%{REQUEST_URI} -d
  RewriteRule ^(.*)$ dist/hostinger/$1 [L]

  RewriteCond %{REQUEST_URI} !^/dist/hostinger/
  RewriteRule ^.*$ dist/hostinger/index.html [L]
</IfModule>
